.footer {
  background-color: var(--primary);
  height: 60vh;
  a {
    text-decoration: none;
    color: var(--secondary-text);
  }

  ul {
    list-style: none;
  }
  li {
    margin: 20px 0px;
  }
  .subscribe-input {
    position: relative;
    input {
      width: 100%;
      padding: 8px 5px;
    }
    .custom-button {
      position: absolute;
      right: 10px;
      top: 2px;
    }
  }
}
