<nav class="py-md-5" [style.background-color]="backGroundColor">
  <div class="_container">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item">
        <a routerLink="/home">{{ nav1 }}</a>
      </li>
      <span class="mx-3">/</span>
      @if (nav3 == "") {
      <li aria-current="page">
        <a [style.color]="textColor">{{ nav2 }}</a>
      </li>
      } @else if (nav3 !=""){
      <li aria-current="page" [style.color]="'gray'">
        <a [routerLink]="navUrl">{{ nav2}}</a>
      </li>
      <span class="mx-3">/</span>
      <li aria-current="page">
        <a [style.color]="textColor">{{ nav3 }}</a>
      </li>
      }
    </ol>
  </div>
</nav>
