/* You can add global styles to this file, and also import other style files */
:root {
  --main: #034773;
  --primary: #06202e;
  --secondary: #e5ecf1;
  --light: #c4c4c4;
  --main-text: #034773;
  --secondary-text: white;
}
