/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
:root {
  --main: #034773;
  --primary: #06202e;
  --secondary: #e5ecf1;
  --light: #c4c4c4;
  --main-text: #034773;
  --secondary-text: white;
  --dark-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  --light-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.5);
}
._container {
  width: 90% !important;
  margin: auto;
}
